.cabecera div {
    display: inline;
    display: inline-block;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
}

.datoscliente {
    background-color: #55CCFF;
    width: 600px;
}

.datospedido {
    background-color: #40ccbb;
    width: 600px;
}

.datoscliente label {
    display: inline-block;
    width: 30%;
}

.datospedido label {
    display: inline-block;
    width: 30%;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}